@media(max-width:1200px){
    html{
        font-size: 15px;
    }
    
}
@media(max-width:1024px){
    .copy-right {
        flex-direction: column-reverse;
    }
    .footer-links ul {
        margin-bottom: 10px;
    }
    .site-banner.sub-banner {
        height: 550px;
    }
}

@media(max-width:992px){
    .close, .toggle{
        display: block;
        font-size: 25px;
        color: #000;
        z-index: 99;
    }


    .main-nav ul {
        flex-direction: column;
    }
    .main-nav ul li {
        padding: 1rem 0;
    }
    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        height: 100vh;
        z-index: 9;
        width: 100%;
        padding: 50px;
        transform: translateY(100%);
        transition: all 0.3s linear;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
}
    .menuToggle .main-nav{
        transform: translateY(0%);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
}
    .menuToggle .open-menu {
        display: none;
    }
    .menuToggle .close-menu{
        display: block;
    }
    .close-menu{
        display: none;
    }
    .banner-txt h1 {
        font-size: 3.20rem;
    }
    .banner-txt p {
        font-size: 1.275rem;
    }
    .why-choose .col-lg-3 {
        margin: 15px 0;
    }
    .top-txt {
        width: 85%;
    }
}


@media(max-width:850px){
    
    .about-us .row {
        flex-direction: column-reverse;
    }
    .about-us .row .col-md-5, .about-us .row .col-md-7{
        width: 100%;
    } 
    .about-img {
        height: 400px;
        margin-bottom: 20px;
    }
  
    .link-img {
        height: 350px;
    }
    .link-wrap {
        flex-direction: column;
    }
    .links-card {
        width: 100%;
    }
    .ptb-70 {
        padding: 50px 0;
    }
    .ptb-50 {
        padding: 30px 0;
    }
    .site-banner {
        height: 550px;
    }
    .luxury-img {
        height: 300px;
    }
    .accordion-button {
        padding: 10px 15px;
    }
    .contact-box {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .contact-img {
        width: 100%;
        height: 350px;
    }
    .contact-form {
        width: 100%;
        padding: 25px;
    }
}
@media(max-width:767px){
    html{
        font-size: 14px;
    }
    .site-banner {
        height: 500px;
    }
    .site-logo img {
        max-width: 6rem;
    }
    .site-heading h2 {
        font-size: 2.2rem;
    }
    .stay-text {
        width: 90%;
    }
    .contact-heading p {
        width: 100%;
    }
    .contact-img {
        height: 300px;
    }
}
@media(max-width:575px){
 
    .main-nav {
        width: 100%;
    }
    .banner-txt {
        padding: 0 20px;
    }
    .banner-txt h1 {
        font-size: 3rem;
        word-break: break-word;
        line-height: 1.1;
    }
    .site-banner {
        height: 450px;
    }
    .about-img {
        height: 300px;
        margin-bottom: 20px;
    }
    .about-text {
        padding: 0px;
    }
    .link-img {
        height: 250px;
    }
    .site-heading h2 {
        font-size: 2rem;
    }
    .why-choose .col-lg-3 {
        margin: 10px 0;
    }
    .stay-text {
        width: 95%;
    }
    .social-link ul {
        margin: 20px 0;
        gap: 20px;
    }
    .copy-right {
        margin-top: 30px;
    }
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .site-banner.sub-banner {
        height: 450px;
    }
    .sub-banner .banner-txt h1 {
        font-size: 2.3125rem;
    }
    .sub-banner .banner-txt p {
        font-size: 1.275rem;
    }
    .top-txt {
        width: 100%;
        padding: 15px;
    }
    .top-txt a.moreless-button, a.read_more {
        padding: 12px 30px;
    }
    .luxury-img {
        height: 250px;
    }
    .site-banner.sub-banner {
        height: 400px;
    }
    .form-group input{
        height: 45px;
    }
    .form-group textarea {
        height: 200px;
    }
    .form-group {
        margin-bottom: 15px;
    }
}
@media(max-width:375px){
  html{
    font-size: 13px;
  }
    .link-txt h4 {
        font-size: 1.675rem;
        font-weight: 600;
        color: #fff;
        text-align: center;
    }
}